<!doctype html>
<html lang="tr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		
		<link rel="modulepreload" href="/_app/immutable/entry/start.CpYuuYSM.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/QnVMlp4O.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/2JlieqZK.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/qbGG5FEk.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/OwnPcda5.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/DSPvXpBb.js">
		<link rel="modulepreload" href="/_app/immutable/entry/app.DXYWF22R.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/PPVm8Dsz.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/DrQQGqP4.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/CA567hPS.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/HzTVzIBC.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/Cb7-jfT9.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/Cunneu0w.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/KLGJzo4G.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/Cx0kvefJ.js">
    <script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">
			<script>
				{
					__sveltekit_1yiool3 = {
						base: ""
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("/_app/immutable/entry/start.CpYuuYSM.js"),
						import("/_app/immutable/entry/app.DXYWF22R.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
