<!doctype html>
<html lang="tr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		
		<link href="./_app/immutable/assets/0.B6nD2qEZ.css" rel="stylesheet">
		<link href="./_app/immutable/assets/10.BSa8Fy5p.css" rel="stylesheet">
		<link rel="modulepreload" href="./_app/immutable/entry/start.BBhjg4PQ.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DLavO5Ry.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Bd83oD_k.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/C4BT6wkS.js">
		<link rel="modulepreload" href="./_app/immutable/entry/app.hD49b0MF.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/PPVm8Dsz.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/dLUKugWw.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CKe8uAA2.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DJsTFRF9.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/D9q74427.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Cu3LK-Ds.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DuRwaK8G.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/0.DbpXQq6M.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/B50MJOlB.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DVusdgP5.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/10.ytrVSX9L.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BZk_tpuy.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/B5YogYoX.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CjQ_Hp3u.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CWNQnxtt.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CSEA4STL.js"><!--12qhfyh--><link rel="icon" href="/_app/immutable/assets/favicon.DbxurHg7.svg"/><!---->
    <script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents"><!--[--><!--[--><!----><!----><!--[--><div class="notice svelte-1qitiqw">Kontrol ediliyor...</div><!--]--><!----><!----><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_qn496g = {
						base: new URL(".", location).pathname.slice(0, -1)
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("./_app/immutable/entry/start.BBhjg4PQ.js"),
						import("./_app/immutable/entry/app.hD49b0MF.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 10],
							data: [null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
